@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Styles */

.home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.particle{
    background: #101527;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero{
    position: relative;
    padding: 120px 24px 160px 24px;
}

.shine_text{
    text-shadow: 0 0 20px #00e5f5;
    color: #2EE6F4;
}

.hero_btn{
    background: linear-gradient(to right, rgba(50, 230, 245, 0.7), rgba(50, 229, 245, 0.534));
    box-shadow: 0 0 50px rgba(1, 238, 255, 0.671);
}
.shine_text:hover, .hero_btn:hover{
    filter: brightness(120%);
}
  